################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Service-Worker/.vs/Service-Worker
/Service-Worker/bin/Debug/net6.0
/Service-Worker/obj
/.vs
/Service-Worker/.vs/ProjectEvaluation
